.centre {

    min-height: 100vh;
    display: flex;
    align-items: center;
}

main {
    text-align: center;
}

textarea{
    width: 5em;
    height: 5em;
}

.form-check-label{
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

