{% extends "main.html" %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block style_and_script %}
    <script src="{{ url_for('static', filename="get_translation.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dictionary.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ article.title }}</h1>
                <p><b><a href="{{ article.url }}">{{ article.source }}</a> </b></p>
                <article>
                    {% for paragraph in article.a_list %}
                        <p>
                            {% for is_word, word in paragraph %}
                                {% if is_word %}
                                    <var class="word">
                                        {{ word }}
                                    </var>
                                {% else %}
                                    {{ word }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                </article>
            </div>
            <div id="dict-entries" class="col-md-3">
                    <div class="entry">
                        <h3>Gerannt</h3>
                        <p>verb</p>
                        <p><b>Rennen</b></p>
                        <p><i>run, run (off)</i></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}