{% extends "main.html" %}
{% block title %} Finished {% endblock %}
{% block body%}
    <div class="centre">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <main>
                        <h1>Thank You For Testing the Application</h1>
                        <p> please full out a short survey about your experiences testing the application</p>
                        <p><a href="https://www.isurvey.soton.ac.uk/26168" target="_blank">Click Here to take survey</a></p>
                        <p> You will be asked to provide your user ID at the start of the survey, your user id is:</p>
                        <h6>{{ user_id }}</h6>
                        <p> Once you are done, click the button below to reset the application for the next user </p>
                        <a class="btn btn-dark" href="/reset">reset</a>
                    </main>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}