{% extends  "main.html" %}
{% block title %}
    German Article Reading Assistant
{% endblock %}
{% block body %}
    <div class="centre">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <main>
                        <h1>German Article Reading Assistant</h1>
                        <br>


                        <form action="/start" id="submitURL" method="post" autocomplete="off">
                        <div class="border border-dark rounded">
                            <h5>Select Your Experience Level: </h5>
                            <label>
                                <select class="form-control" name="level">
                                    <option value="Beginner">Beginner</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                                    <option value="Near Fluent">Near Fluent</option>
                                </select>
                            </label>
                        </div>
                        <div class="border border-dark rounded">
                        <h5>Select a Preferred Category of Articles: </h5>
                            {% for category in cat_list %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="cat"
                                           id="cat-{{ category }}" value="{{ category }}" required>
                                    <label class="form-check-label"
                                           for="cat-{{ category }}">{{ category }} {{ categories[category]['emoji'] }}</label>
                                </div>
                            {% endfor %}
                            </div>
                            <br>
                            <input type="submit" value="Find Articles" class="btn btn-dark">
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
{% endblock %}