{% extends "main.html" %}
{% block title %} {{ category }} Artikel {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ category }}</h1>
                {% for article in articles %}
                    <a href="/read/{{ article['id'] }}">
                    <div class="border border-dark rounded">
                        <h5>{{ article['title'] }} <span class="badge badge-secondary"> {{ article['rating'] }}</span></h5>
                    </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-3">
              <h3>Difficulty Levels:</h3>
                <p> We seperate the articles into 7 difficulty levels based on your experience with German. These difficulty levels are:</p>
                <ul>
                    <li><span class="badge badge-secondary">SL</span> <i>Sehr Leicht</i>, Very Easy</li>
                    <li><span class="badge badge-secondary">L</span> <i>Leicht</i>, Easy</li>
                    <li><span class="badge badge-secondary">ZL</span> <i>Ziemlich Leicht</i>, Pretty Easy</li>
                    <li><span class="badge badge-secondary">M</span> <i>Mittel</i>, Medium</li>
                    <li><span class="badge badge-secondary">ZS</span> <i>Ziemlich Schwer</i>, Pretty Hard</li>
                    <li><span class="badge badge-secondary">S</span> <i>Schwer</i>, Hard</li>
                    <li><span class="badge badge-secondary">SS</span> <i>Sehr Schwer</i>, Very Hard</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}