{% extends "main.html" %}
{% block title %} {{ category.capitalize() }} articles in German {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ category.capitalize() }} articles in German</h1>
                {% for article in articles %}
                    <div class="article">
                        <a href="/read/{{ category }}/{{ article[0] }}"><h3>{{ article[1].title }}</h3></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}